@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(220, 15%, 55%); 
    font-family: 'Outfit', sans-serif; 
    padding: 10vh 0;
}
.qr-code-container{
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 6%;
    width: 310px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}
img{
    border-radius: 5%;
}
.content p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(212, 45%, 89%);
    padding: 10px;
}
.content h1{
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding: 10px;
}