@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%); 
    font-family: 'Outfit', sans-serif; 
    padding: 10vh 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    background-color: hsl(0, 0%, 100%);
    padding: 12px 0;
    height: 430px;
    width: 280px;
    border-radius: 25px;
    text-align: center;
}
img{
    height: 260px;
    width: 258px;
    border-radius: 17px;
}
h1{
   font-weight: 700;
    font-size: 20px;
    padding: 12px 30px;
}
p{
    font-weight: 400;
    font-size: 13px;
    padding: 0 30px;
    color: hsl(220, 15%, 65%);
}
